# Configurações da API
NODE_ENV=local
API_PORT=3000

# Configurações do Banco de Dados MySQL
DB_HOST=mysql
DB_PORT=3306
DB_USER=app_user
DB_PASS=app_password
DB_NAME=node_js_test

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Configurações de JWT (se necessário)
JWT_PASS=liguelead